.hennshuu{color:#565656;
    text-align: center;
    background-image:url(sakura.jpg);
    background-size: cover;
    height:400px;
}
.nakami{display: inline-block;
    
    font-weight: 600;
    line-height: 1.4em;
    padding-top: 10px;
    background-color: rgba(252,252,252,0.5);
}