.new{ color:#565656;
    background-repeat:no-repeat;
    text-align: center;
    background-image: url(happa.jpg);
    padding:0;

}
.toukou{display: inline-block;
    
    font-weight: 600;
    line-height: 1.4em;
    padding-top: 10px;
    background-color: rgba(252,252,252,0.5);
}